<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transactions</title>
</head>
<br>
    {% for transaction in card_transactions %}
        <div>
            <h2>{{transaction.shop}}</h2>
            <h3>{{transaction.owner_shop}}</h3>
            <p>{{transaction.cpf}}</p>
            <p>{{transaction.card}}</p>
            <p>{{transaction.value}}</p>
            <p>{{transaction.hour}}</p>
            <p>{{transaction.date}}</p>
        </div>

        <br></br>
        
    {% endfor %}

    <h1>Total: {{total}}</h1>

</body>
</html>